@model Entities.DTOs.AllSaleDto

<div style="margin-bottom:20px;text-align: right;">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" id="showAddForm">Satış Ekle</button>
        </div>
    </div>
</div>

@if (TempData["Error"]! != null)
{
    <div style="margin-bottom:20px" class="alert alert-danger" role="alert">

        <div class="text-danger">@TempData["Error"]</div>
    </div>

}


<div id="addFormContainer" class="card" style="margin-bottom:20px;padding:15px;box-shadow: 5px 4px 12px 0px #00000052;display:none">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Sale" asp-action="Add" method="post">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Müşteri Adı</strong></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x=>x.CreateSale.CustomerId,(List<SelectListItem>)ViewBag.Customers,new {@class="form-control form-control-sm"})
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Ürün Adı</strong></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x=>x.CreateSale.ProductId,(List<SelectListItem>)ViewBag.Products,new {@class="form-control form-control-sm",onchange = "updateStock()",id="productId" })
                    </div>
                    <label class="col-md-2 col-form-label"></label>
                    <div class="col-md-10" id="stockMessage">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Satış Fiyatı</strong></label>
                    <div class="col-md-10">
                        <input type="number" asp-for="CreateSale.Salesprice" class="form-control form-control-sm" placeholder="Satış fiyatı giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Satış Adeti</strong></label>
                    <div class="col-md-10">
                        <input type="number" asp-for="CreateSale.Quantity" class="form-control form-control-sm" placeholder="Satış adeti giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <a id="hideAddForm" class="btn btn-danger btn-sm" style="color:white">Vazgeç</a>
                        <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div id="editFormContainer" class="card" style="margin-bottom:20px;padding:15px;box-shadow: 5px 4px 12px 0px #00000052;display:none">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Sale" asp-action="Edit" method="post">
                <input type="hidden" id="id" asp-for="UpdateSale.Id" />
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Müşteri Adı</strong></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x=>x.UpdateSale.CustomerId,(List<SelectListItem>)ViewBag.Customers,new {@class="form-control form-control-sm"})
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Ürün Adı</strong></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x=>x.UpdateSale.ProductId,(List<SelectListItem>)ViewBag.Products,new {@class="form-control form-control-sm",onchange = "updateStock()",id="productId"})
                    </div>
                    <label class="col-md-2 col-form-label"></label>
                    <div class="col-md-10" id="stockMessage">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Satış Fiyatı</strong></label>
                    <div class="col-md-10">
                        <input type="number" id="salesprice" asp-for="UpdateSale.Salesprice" class="form-control form-control-sm" placeholder="Satış fiyatı giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Satış Adeti</strong></label>
                    <div class="col-md-10">
                        <input type="number" id="quantity" asp-for="UpdateSale.Quantity" class="form-control form-control-sm" placeholder="Satış adeti giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <a id="hideEditForm" class="btn btn-danger btn-sm" style="color:white">Vazgeç</a>
                        <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="saleListContainer" class="card" style="padding:15px;box-shadow: 5px 4px 12px 0px #00000052">
    <table id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Müşteri</th>
                <th>Ürün</th>
                <th>Satış Adeti</th>
                <th>Satış Fiyatı</th>
                <th>Toplam Fiyat</th>
                <th>Liste Fiyatı</th>
                <th>İskonto Oranı</th>
                <th>Olş. Tarihi</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListSales)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CustomerName</td>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity Adet</td>
                    <td>@item.Salesprice TL</td>
                    <td>@item.Amount TL</td>
                    <td>@item.Listprice TL</td>
                    <td>% @item.Discountrate</td>
                    <td>@item.Date</td>
                    <td align="right">
                        <button onclick="editItem(@item.Id)" class="btn btn-success mr-2 btn-sm">Düzenle</button>
                    </td>
                    <td align="right">
                        <form action="/sale/delete" method="post" style="display: inline">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            }
        });
    });
    document.getElementById("showAddForm").addEventListener("click", function () {
        document.getElementById("addFormContainer").style.display = "block";
        $('#editFormContainer').hide();

    });

    document.getElementById("hideAddForm").addEventListener("click", function () {
        document.getElementById("addFormContainer").style.display = "none";
        $('#editFormContainer').hide();

    });

    document.getElementById("hideEditForm").addEventListener("click", function () {
        document.getElementById("editFormContainer").style.display = "none";
    });

    function editItem(itemId) {
        $.ajax({
            url: '/Sale/GetById',
            type: 'POST',
            data: { id: itemId },
            success: function (result) {
                $('#id').val(result.sale.id);
                $('#quantity').val(result.sale.quantity);
                $('#salesprice').val(result.sale.salesprice);

                $('#editFormContainer').show();
                $('#addFormContainer').hide();

            },
            error: function (error) {

            }
        });
    }

    $(function () {
        $('#editForm').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/Sale/Edit',
                type: 'POST',
                data: $('#editForm').serialize(),
                success: function (result) {
                    //refreshGetAllCategories();
                    location.reload();
                    $('#editFormContainer').hide();
                    $('#addFormContainer').hide();


                },
                error: function (error) {

                }
            });
        });
    });


    async function updateStock() {

        var selectedProductId = document.getElementById("productId").value;
        console.log(selectedProductId)
        try {
            var response = await fetch('@Url.Action("GetStocks", "Sale")?productId=' + selectedProductId);
            var data = await response.text();
            if (data > 0) {

                document.getElementById("stockMessage").innerHTML = "<div class='alert alert-success alert-dismissible fade show' role='alert'><small><strong>Bu ürüne ait stok adeti: " + data + "</strong></small><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
            }
            else {
                document.getElementById("stockMessage").innerHTML = "<div class='alert alert-danger alert-dismissible fade show' role='alert'><small><strong>Bu ürüne ait stok bulunmamaktadır!</strong></small><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>"
            }
        } catch (error) {
            console.log(error);
        }
    }

</script>
