@model Entities.DTOs.AllCustomerDto

<div style="margin-bottom:20px;text-align: right;">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" id="showAddForm">Müşteri Ekle</button>
        </div>
    </div>
</div>

@if (TempData["Error"]! != null)
{
    <div style="margin-bottom:20px" class="alert alert-danger" role="alert">

        <div class="text-danger">@TempData["Error"]</div>
    </div>
}

<div id="addFormContainer" class="card" style="margin-bottom:20px;padding:15px;box-shadow: 5px 4px 12px 0px #00000052;display:none">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Customer" asp-action="Add" method="post">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Müşteri Adı</strong></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Customertitle" class="form-control form-control-sm" placeholder="Müşteri adı giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Müşteri No</strong></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Customernumber" class="form-control form-control-sm" placeholder="Müşteri no giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <a id="hideAddForm" class="btn btn-danger btn-sm" style="color:white">Vazgeç</a>
                        <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div id="editFormContainer" class="card" style="margin-bottom:20px;padding:15px;box-shadow: 5px 4px 12px 0px #00000052;display:none">
    <div class="row">
        <div class="col-md-12">
            <form id="editForm" asp-controller="Customer" asp-action="Edit" method="post">
                <input type="hidden" id="id" asp-for="Customer.Id" />
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Kategori Adı</strong></label>
                    <div class="col-md-10">
                        <input id="customerTitle" asp-for="Customer.Customertitle" class="form-control form-control-sm" placeholder="Müşteri adı giriniz" />
                    </div>
                </div><div class="form-group row">
                    <label class="col-md-2 col-form-label"><strong>Kategori Adı</strong></label>
                    <div class="col-md-10">
                        <input id="customerNumber" asp-for="Customer.Customernumber" class="form-control form-control-sm" placeholder="Müşteri no giriniz" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                        <a id="hideEditForm" class="btn btn-danger btn-sm" style="color:white">Vazgeç</a>
                        <button type="submit" class="btn btn-info btn-sm">Düzenle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="customerListContainer" class="card" style="padding:15px;box-shadow: 5px 4px 12px 0px #00000052">
    <table id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Müşteri Adı</th>
                <th>Müşteri No</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListCustomers)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Customertitle</td>
                    <td>@item.Customernumber</td>
                    <td align="right">
                        <button onclick="editItem(@item.Id)" class="btn btn-success mr-2 btn-sm">Düzenle</button>                    
                    </td>
                     <td align="right">
                        <form action="/customer/delete" method="post" style="display: inline">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            }
        });
    });

    document.getElementById("showAddForm").addEventListener("click", function () {
        document.getElementById("addFormContainer").style.display = "block";
        $('#editFormContainer').hide();

    });

    document.getElementById("hideAddForm").addEventListener("click", function () {
        document.getElementById("addFormContainer").style.display = "none";
        $('#editFormContainer').hide();
    });

    document.getElementById("hideEditForm").addEventListener("click", function () {
        document.getElementById("editFormContainer").style.display = "none";
    });


    function editItem(itemId) {
        $.ajax({
            url: '/Customer/GetById',
            type: 'POST',
            data: { id: itemId },
            success: function (result) {
                $('#id').val(result.customer.id);
                $('#customerTitle').val(result.customer.customertitle);
                $('#customerNumber').val(result.customer.customernumber);


                $('#editFormContainer').show();
                $('#addFormContainer').hide();
            },
            error: function (error) {

            }
        });
    }

    $(function () {
        $('#editForm').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/Customer/Edit',
                type: 'POST',
                data: $('#editForm').serialize(),
                success: function (result) {
                    //refreshGetAllCategories();
                    location.reload();
                    $('#editFormContainer').hide();
                    $('#addFormContainer').hide();

                },
                error: function (error) {

                }
            });
        });
    });

</script>
